*{
    box-sizing: border-box;
    margin: 0;
}
body{
   background-color:#24353F ; 
}
a{
    text-decoration: none;
}
a:hover{
   text-decoration: underline; 
}
.box{
    background-color: #24353F;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
h1{
    color: #17A2B8;
}
.form-control{
    background-color: transparent;
}
input[placeholder]{
    color: white;
}
 .form-control:focus{
    background-color: transparent;
    border-color: #80bdff;
    outline:0;
} 
input:focus{
    box-shadow: 0 0 0 0 transparent !important;
}
.group{
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.wlcm{
    margin-top: 150px;
}